* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
list-style-type: none;
}
.container {
max-width: 1168px;
margin: auto;
}
button, input {
outline: none;
}
a {
text-decoration: none;
}